@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --light-blue: #75CFF0;
  --medium-blue: #3A4CA6;
  --dark-blue: #2D3352;
  --light-green: #B4E49B;
  --dark-green: #486D3B;
  --light: #F2F0EE;
  --dark: #000000;
  --light-grey: #D8DBE8;
  --dark-grey: #333;
  --red: #e02932;
  --beige: #F4BC66;

  --small: 576px;
  --medium: 768px;
  --large: 992px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

